.portfolio {
 margin: 0;
 padding-bottom: 100px;
}

.portfolio__title {
  color: #8B8B8B;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  margin: 0 0 50px;
  }

.portfolio__project-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.portfolio__project-li {
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}

.portfolio__project-li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.portfolio__project-link {
color:#fff;
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.7;
display: flex;
flex-direction: row;
justify-content: space-between;
}