.not-found {
  min-height: calc(100vh - 246px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found__title {
  color: #fff;
  font-style: normal;
  font-size: 140px;
  line-height: 1.2;
  font-weight: normal;
  margin:245px auto 5px;
}

.not-found__text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 184px;
}

.not-found__button {
  text-decoration: none;
  color: #4285f4;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}