.content {
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  display: grid;
  grid-row-gap: 110px;
}

@media screen and (max-width: 1150px) {
  .content {
  grid-row-gap: 90px;
  }
}

@media screen and (max-width: 520px) {
  .content {
  grid-row-gap: 70px;
  }
}
