.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #073042;
}

.header_loggedIn {
  background-color: #202020;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__icon {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}



.header__link {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}



.header__link:last-of-type {
  margin-right: 0;
}

.header__link_active {
  font-weight: 500;
}

.header__link:hover {
  opacity: 0.8;
}

.header__signin-button {
  width: 76px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #3ddc84;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
}

.header__signin-button:hover {
  box-shadow: 0px 0px 10px rgb(216, 216, 226);
}

.header__link-films {
  margin-right: 16px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

.header__link-films:hover {
  opacity: 0.8;
}

.header__link-films_active {
  font-weight: 500;
}

.header__link-films:last-of-type {
  margin-right: 0;
}

.header__profile-button {
  width: 100px;
  height: 32px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  cursor: pointer;
  border-radius: 50px;
  background-color: #202020;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.header__profile-button:hover {
  box-shadow: 0px 0px 10px rgb(216, 216, 226);
}

.header__profile-button_type_loggedin {
  background-color: #3ddc84;
}

@media screen and (max-width: 768px) {
  .header__links {
    display: none;
  }
  .header__links-start {
    display: flex;
  }

  .header__link-profile {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .header__link {
    font-size: 10px;
    line-height: 1.6;
    margin-right: 14px;
  }

  .header__signin-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }

 
}
