.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #073042;
}

.header_loggedIn {
  background-color: #202020;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__icon {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.header__link {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_active {
  font-weight: 500;
}

.header__link:hover {
  opacity: .8;
}

.header__signin-button {
  width: 76px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #3DDC84;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
}

.header__signin-button:hover {
  box-shadow: 0px 0px 10px rgb(216, 216, 226);
}

.header__link-films {
  margin-right: 16px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

.header__link-films:hover {
  opacity: .8;
}

.header__link-films_active {
  font-weight: 500;
}

.header__link-films:last-of-type {
  margin-right: 0;
}

.header__profile-button {
  width: 100px;
  height: 32px;
  border: 2px solid rgba(170, 170, 170, .2);
  cursor: pointer;
  border-radius: 50px;
  background-color: #202020;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.header__profile-button:hover {
  box-shadow: 0px 0px 10px rgb(216, 216, 226);
}
/*


@media screen and (max-width: 768px) {
  .header {
      max-width: calc(100% - 60px);
      padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
      max-width: calc(100% - 28px);
      padding: 0 14px;
  }
  .header__profile-button {
      width: 54px;
      height: 26px;
  }
  .header__link-item {
      margin-right: 14px;
  }
  .header__link {
      font-size: 10px;
  }
} */ 