.filter-checkbox {
  display: flex;
  flex-direction: row;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
}

.filter-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; 
  clip: rect(0 0 0 0);
}

.filter-checkbox__input + span {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  border-radius: 20px;
  outline: none;
  background-color: #202020;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.filter-checkbox__input + span::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4d4949;
  content: '';
  transition: left 0.2s;
}

.filter-checkbox__input:checked + span::after{
  position: absolute;
  top: 2px;
  left: 18px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3ddc84;
  content: '';
}
