.techs {
  background-color: #272727;
  padding-top: 100px;
  padding-bottom: 100px;
}

.techs__title-container {
  margin-bottom: 90px;
}

.techs__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.techs__description {
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  margin: 0 0 100px;
  text-align: center;
}

.techs__skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
}

.techs__skills-li{
  background-color: #303030;
  border-radius: 10px;
  display: inline-block;
}

.techs__skills-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  padding-top: 21px;
  padding-bottom: 22px;
  margin: 0;
  text-align: center;
}