@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

.page {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1280px;
  background-color: #202020;
  margin: 0 auto;
  color: #fff;
  
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  padding: 18px 70px 0;
}

.page__footer {
  padding: 79px 70px 20px;
}

.section {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1280px;
}

.section__title-container {
  width: 100%;
  padding: 10px 0 23px;
  border-bottom: 1px solid #DADADA;
}

.section__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

/* @media screen and (max-width: 767px) {
  .page__header {
    padding: 28px 30px 42px;
    margin: 0 auto;
  }
} */

/* .page__footer {
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .page__footer {
      margin-top: 48px;
      margin-bottom: 36px;
  }
} */