@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

.background {
  background-color: #202020;
  width: 100%;
}

.page {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1280px;
  background-color: #202020;
  margin: 0 auto;
  color: #fff;

  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  padding: 18px 70px 0;
}

.page__footer {
  padding: 79px 70px 20px;
}

.section {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1280px;
}

.section-movies {
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}
.section__title-container {
  width: 100%;
  padding: 0 0 23px;
  border-bottom: 1px solid #dadada;
}

.section__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1150px) {
  .page__header {
    padding: 18px 30px 0;
  }

  .page__footer {
    padding: 79px 30px 20px;
  }

  .section {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-movies {
    padding-left: 30px;
    padding-right: 30px;

  }
}

@media screen and (max-width: 520px) {
  .page__header {
    padding: 18px 14px 0;
  }

  .page__footer {
    padding: 79px 10px 10px;
  }

  .section {
    padding-left: 14px;
    padding-right: 14px;
  }

  .section-movies {
    padding-left: 14px;
    padding-right: 14px;
  }

  .section__title-container {
    padding: 0 0 28px;
  }

  .section__title {
    font-size: 18px;
  }
}
