.aboutme {
  background-color: #202020;
  padding-top: 10px;
}

.aboutme__title-container {
  margin-bottom: 66px;
}

.aboutme__content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutme__info-container {
  max-width: 600px;
}

.aboutme__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
}

.aboutme__info {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  margin: 0 0 26px;
}

.aboutme__about {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 99px;
}

.aboutme__social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.aboutme__social-link {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.aboutme__social-link:last-of-type {
  margin-right: 0;
}

.aboutme__social-link:hover {
  opacity: .8;
}

.aboutme__photo {
width: 270px;
height: 327px;
}

